<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!--jdbc属性文件，里面填写driver、url、username、password等信息-->
  <properties resource="jdbc.properties"/>

  <typeAliases>
    <!--实体类所在的包的全名-->
    <package name="org.lanqiao.myBatis.entity"/>
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <!--${jdbc.driver} 来自jdbc属性文件-->
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>

  <!--sql映射文件，符合你项目的真实路径-->
  <mappers>
    <mapper resource="mapper/RoleMapper.xml"/>
    <mapper resource="mapper/UserProfileMapper.xml"/>
    <mapper resource="mapper/UserRoleMapper.xml"/>
  </mappers>
</configuration>