<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd


		   http://www.springframework.org/schema/context
		   http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

  <!--  <bean id="userProfileService" class="org.lanqiao.spring.service.UserProfileServiceBean">
     <property name="userProfileMapper" ref="userProfileMapper" />
   </bean>-->

  <!--通过扫描包的方式发现bean(任何标注为Component、Service、Repository的类)
  并完成依赖，不用再像上面那样一个一个配置-->
  <context:component-scan base-package="org.lanqiao.spring">
    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
    <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
  </context:component-scan>
  <import resource="spring-db.xml"/>
  <import resource="spring-tx.xml"/>
</beans>